<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    let searching = false;

    document.addEventListener("keydown", (e) => {
        console.log("here");
        if (e.code === "Enter") {
            document.getElementById('searchButton').disabled = false;
            buttonTrigger();
            console.log("pressed");
        }
    });

    function hideModal() {
        document.getElementById('myModal').setAttribute('style', 'display: hidden;');
    }

    function buttonTrigger() {
        if (!searching) {
            let button = document.getElementById('searchButton');
            if (button.disabled === false) {
                searching = true;
                if ($('input').val() === "") {
                    document.getElementById('exampleModalLabel').innerHTML = "Please enter a keyword to search for a quote.";
                    document.getElementById('myModal').setAttribute('style', 'display: block;');
                } else {
                    document.getElementById("spinnySearchButton").setAttribute('style', '');
                    document.getElementById("searchButtonText").innerHTML = "Finding...";
                    button.setAttribute('disabled', true);
                    getInfo();
                    searching = false;
                }
            }
        }
    }

    function getInfo() {
        $.ajax({
            url: '/test',
            data: $('input').val(),
            type: 'POST',
            success: responseFromSearch,
            error: function (error) {
                console.log(error);
                document.getElementById("quoteText").innerText = 'No Quote was Found. Try searching with a different keyword.';
                document.getElementById("authorText").innerText = 'No Quote = No Author';
                let button = document.getElementById('searchButton')
                document.getElementById("spinnySearchButton").setAttribute('style', 'display: none;');
                document.getElementById("searchButtonText").innerHTML = "Find Quote!";
                button.removeAttribute('disabled');
            }
        });
    }

    function responseFromSearch(response) {
        document.getElementById("quoteText").innerText = '"' + response[0] + '"';
        document.getElementById("authorText").innerText = response[1];
        let button = document.getElementById('searchButton')
        document.getElementById("spinnySearchButton").setAttribute('style', 'display: none;');
        document.getElementById("searchButtonText").innerHTML = "Find Quote!";
        button.removeAttribute('disabled');
    }
</script>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    section {
        background: rgb(0, 5, 50);
        color: rgb(200, 200, 200);
        padding: 1%;
        width: 100%;
    }

    body {
        background: rgb(0, 5, 50);
        height: 100%;
    }
</style>

<head>
</head>

<body>

    <div class="flex-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Quote Finder</h1><h3>by Eric Bollar</h3>
                <p class="lead">A website that uses a Quotes API to generate a quote with an author given a keyword input.<br>
                    My website and more information: <a href="http://www.ericbollar.com/" target="_blank">https://www.ericbollar.com/</a></p>
            </div>
        </div>

        <div class="input-group mb-3" style='padding: 1%; display:flex; justify-content: center;'>
            <div style="width:400px;">
                <input type="text" class="form-control" placeholder="Enter a keyword..." aria-label="keyword"
                    aria-describedby="basic-addon2" id="searchBarText" name="searchBarText">
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id='searchButton' onclick="buttonTrigger()">
                    <span id="searchButtonText">Find Quote!</span>
                    <span class="spinner-border spinner-border-sm" role="status" id="spinnySearchButton"
                        style="display: none;"></span>
                </button>
            </div>
        </div>

        <section>
            <h1 style="position: relative; text-align: center;" id="quoteText">{{ quote }}</h1>
            <em>
                <h3 style="position: relative; text-align: center;" id="authorText">{{ author }}</h3>
            </em>
        </section>
    </div>
    
  <!-- Modal -->
    <div id="myModal" class="modal fade show" tabindex="-1" role="dialog" style="display: hidden;" aria-labelledby="myModalLabel" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">Error</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideModal()">×</button>
                </div>
                <div class="modal-body" id = "exampleModalLabel">
                    <p>error</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true" onclick="hideModal()">Close</button>
                </div>
            </div>
        </div>
=</div>

</body>

</html>