<html>
<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('keydown', (e) => {
        if (e.code === "Enter") {
            buttonTrigger()
        }
    });

    function buttonTrigger() {
        let button = document.getElementById('searchButton')
        if (button.disabled === false) {
            document.getElementById("spinnySearchButton").setAttribute('style', '');
            document.getElementById("searchButtonText").innerHTML = "Finding...";
            button.setAttribute('disabled', true);
            getInfo();
        }
    }

    function getInfo() {
        console.log("clicked");
        $.ajax({
            url: '/test',
            data: $('input').val(),
            type: 'POST',
            success: responseFromSearch,
            error: function (error) {
                console.log(error);
            }
        });
    }

    function responseFromSearch(response) {
        console.log(response)
        document.getElementById("quoteText").innerText = '"' + response[0] + '"';
        document.getElementById("authorText").innerText = response[1];
        let button = document.getElementById('searchButton')
        document.getElementById("spinnySearchButton").setAttribute('style', 'display: none;');
        document.getElementById("searchButtonText").innerHTML = "Find Quote!";
        button.removeAttribute('disabled');
    }
</script>
<style>
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    section {
        background: rgb(0, 5, 50);
        color: rgb(200, 200, 200);
        padding: 1%;
        width: 100%;
    }

    body {
        background: rgb(0, 5, 50);
        height: 100%;
    }
</style>

<head>
</head>

<body>

    <div class="flex-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Quote Finder</h1>
                <p class="lead">Some description that I'm gonna add later. - Eric</p>
            </div>
        </div>

        <div class="input-group mb-3" style='padding: 1%; display:flex; justify-content: center;'>
            <div style="width:400px;">
                <input type="text" class="form-control" placeholder="Enter a keyword..." aria-label="keyword"
                    aria-describedby="basic-addon2" id="searchBarText" name="searchBarText">
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id='searchButton' onclick="buttonTrigger()">
                    <span id="searchButtonText">Find Quote!</span>
                    <span class="spinner-border spinner-border-sm" role="status" id="spinnySearchButton"
                        style="display: none;"></span>
                </button>
            </div>
        </div>

        <section>
            <h1 id="quoteText">{{ quote }}</h1>
            <em>
                <h3 id="authorText">{{ author }}</h3>
            </em>
        </section>
    </div>

</body>

</html>